<div class="left-nav">
    <h5>Navigate</h5>
    <ul class="navigation-menu">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/"><span ><i class="fa fa-line-chart" aria-hidden="true"></i></span> Analytics</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="news"><span><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> News</a></li>
        <li><a href="#"><span><i class="fa fa-file-text-o" aria-hidden="true"></i></span> Board Brief</a></li>
        <li><a href="#"><span><i class="fa fa-briefcase" aria-hidden="true"></i></span> Briefcase</a></li>
        <li><a href="#"><span><i class="fa fa-angle-double-left" aria-hidden="true"></i></span> Close menu</a></li>
    </ul>
</div>