<div class="content">
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>Chain Store Age</b> <span class="float-right clr-grey">Feb 22, 2016</span></p>
            <p class="text-01 mb-0">Billabong taps NetSuite to power omnichannel strategy</p>
        </div>
        <figure>
            <img src="assets/images/images-01.jpg" />
        </figure>
        <div class="pad-15">
            <p class="text-02">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>Business Wire</b> <span class="float-right clr-grey">Feb 18, 2016</span></p>
            <p class="text-01 mb-0">New Study Shows One Critical Industry Lagging Behind in Software Security</p>
        </div>
        <div class="pad-15">
            <p class="text-02">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>Business Wire</b> <span class="float-right clr-grey">Feb 13, 2016</span></p>
            <p class="text-01 mb-0">AlphaGo and the Declining Advantage of Big Companies</p>
        </div>
        <figure>
            <img src="assets/images/images-01.jpg" />
        </figure>
        <div class="pad-15">
            <p class="text-02">Panelists at CII's spring conference discuss governance implications of shift in US firms’ approach to capital allocation When it comes to uses of cash, investors are slightly schizophrenic about...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>Chain Store Age</b> <span class="float-right clr-grey">Feb 13, 2016</span></p>
            <p class="text-01 mb-0">Journelle, Alton Lane streamline process with NetSuite platform</p>
        </div>
        <figure>
            <img src="assets/images/images-01.jpg" />
        </figure>
        <div class="pad-15">
            <p class="text-02">Panelists at CII's spring conference discuss governance implications of shift in US firms’ approach to capital allocation When it comes to uses of cash, investors are slightly schizophrenic about...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>Internet Retailer</b> <span class="float-right clr-grey">Feb 14, 2016</span></p>
            <p class="text-01 mb-0">NetSuite rolls out a new e-procurement system for B2B companies</p>
        </div>
        <figure>
            <img src="assets/images/images-01.jpg" />
        </figure>
        <div class="pad-15">
            <p class="text-02">Katherine BoccaccioNetSuite Inc. announced that two fashion and apparel retailers — Journelle, a seller of high-end lingerie and loungewear, and Alton Lane, a maker of men’s custom-tailored...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="white-box">
        <div class="pad-15">
            <p class="clr-blue"><b>The Wall Street Journal</b> <span class="float-right clr-grey">Feb 13, 2016</span></p>
            <p class="text-01 mb-0">NetSuite to Buy Email Marketing Company for $200 Million</p>
        </div>
        <div class="pad-15">
            <p class="text-02">It's been 25 years since Professor Jeffrey Sonnenfeld's landmark book The Hero's Farewell vividly documented the challenges and failures of CEO succession planning at large publicly traded...</p>
        </div>
        <div class="bot-icons">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                </li>
                <li class="text-center">
                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span>132</span>
                </li>
                <li class="text-right">
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>