/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.logo {
    background: #1e2025;
    padding: 20px 0;
    float: left;
    width: 20%;
    text-align: center;
    min-height: 68px;
}

nav {
    background: #2f323a;
    float: right;
    width: 80%;
    padding: 20px;
    min-height: 68px;
}

.nav-bar {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.nav-bar>li {
    display: inline-block;
    list-style: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
}

.nav-bar>li i {
    font-size: 20px;
}

.left-nav {
    background: #2f323a;
    float: left;
    width: 20%;
    height: 100vh;
    /* min-width: 250px;
    max-width: 250px;
    transition: all 0.3s; */
}

.left-nav h5 {
    color: #53565d;
    text-transform: uppercase;
    border-bottom: solid 2px #53565d;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: normal;
    margin: 0 10px 20px;
}

.navigation-menu {
    margin: 0px;
    padding: 0px;
}

.navigation-menu>li {
    list-style-type: none;
}

.navigation-menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.navigation-menu>li>a span {
    margin-right: 10px;
}

.navigation-menu>li>a i {
    color: #6098ff;
}

.navigation-menu>li>a:hover {
    background: #1e2025;
    transition: all 0.3s;
}

.navigation-menu>li.active>a {
    background: #1e2025;
}

.wrappar {
    /* display: flex;
    align-items: stretch; */
    display: table;
    width: 100%;
}

.content {
    background: #f5f5fa;
    padding: 30px;
    float: left;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    /* min-height: 100vh;
    transition: all 0.3s; */
}

.white-box {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: solid 1px #d0d0d0;
    width: 31%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1% 20px;
}

figure {
    margin: 0px;
}

figure>img {
    width: 100%;
}

.white-box p {
    margin-top: 0px;
    font-size: 13px;
}

.text-01 {
    font-size: 15px !important;
    color: #666;
    line-height: 20px;
}

.text-02 {
    font-size: 14px !important;
    color: #848484;
    line-height: 20px;
}

.bot-icons {
    border-top: solid 1px #ececec;
}

.bot-icons>ul {
    margin: 0px;
    padding: 0px;
}

.bot-icons>ul>li {
    width: 33.33%;
    float: left;
    padding: 10px;
    list-style: none;
}

.bot-icons>ul>li span {
    font-size: 13px;
    color: #a2a2a2;
    font-weight: bold;
    margin-left: 5px;
}

.bot-icons>ul>li>a>i {
    color: #a2a2a2;
    font-size: 16px;
}

.bot-icons>ul>li>a:hover i {
    color: #333;
    transition: all 0.3s;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.pad-15 {
    padding: 15px;
}

.mb-0 {
    margin-bottom: 0px;
}

.clr-blue {
    color: #74a0dc;
}

.clr-grey {
    color: #ccc;
}

.font-bold {
    font-weight: 500;
}


/* Responsive */

@media only screen and (max-width:1200px) {
    .white-box {
        width: 48%;
    }
}

@media only screen and (max-width:767px) {
    .content {
        padding: 15px;
    }
}

@media only screen and (max-width:640px) {
    .content {
        padding: 30px;
    }
    .white-box {
        width: 98%;
    }
}

@media only screen and (max-width:400px) {
    .content {
        padding: 15px;
    }
}